@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=M+PLUS+Rounded+1c:wght@700&family=Nunito+Sans:opsz,wght@6..12,500&family=Poppins:wght@400;700&family=Raleway:wght@300;900&family=Rowdies:wght@300&display=swap');
p {
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;
}

.photo-banner {
    height: 12rem;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ff77008f, #001f3f63);
}

.coffee-img {
    height: 12rem;
    width: 100%;
    object-fit: cover; /* This will make the image cover the container, cropping as necessary */
    object-position: center center; /* Center the image within the container */
}

.accordion-item:first-of-type {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none !important;
}

.accordion-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem !important;
    padding: 0 !important;
    margin-top: 10px;
    font-weight: bolder;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border:  none !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Add this to your App.css or a separate CSS file */
.social-icons {
    display: flex;
    justify-content: space-between;
    width: 150px; /* Adjust the width based on your preference */
    margin: 20px auto; /* Adjust margin as needed */
  }
  
  .social-icons a {
    color: #333; /* Adjust the color based on your design */
    font-size: 24px; /* Adjust the font size based on your preference */
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change the color on hover if desired */
  }
  