@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.myMenu {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: #001F3F !important; /* Set your desired text color */
  }
  
.nav-link.active {
    color: #001F3F !important; /* Set your desired active link text color */
  }